@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #1B2033;
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.graph-container {
    padding: 20px;
    background-color: #2A2E3E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

/* RangeSlider style */
.rc-slider-handle {
    border-color: #78C0E0 !important;
    background-color: #78C0E0 !important;
}
.rc-slider-track {
    background-color: #78C0E0 !important;
}

/* Transition plus fluide pour la sidebar */
#sidebar {
    transition: width 0.3s;
}
